<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inventory recon</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
    <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/simple-sidebar.css')}}" rel="stylesheet">

</head>

<body onload="onload()">
    <form action="#" id="loading"></form>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="main">
                        Main Page
                    </a>
                </li>
                <li>
                    <a href="accounts">Accounts</a>
                </li>
                <li>
                    <a href="inventory">Inventory</a>
                </li>
                <li>
                    <a href="">Orders</a>
                </li>
                <li>
                    <a href="delivery">Delivery</a>
                </li>
                <li>
                    <a href="shopee">Shopee</a>
                </li>
                <li>
                    <a href="csvtester">CSV Tester</a>
                </li>
                <li>
                    <a href="orderupload">Order Upload to IMS</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><b>Toggle Menu</b></a>
                <h1>Inventory</h1>
            </div>

            <select id="account" onchange="acctChange()">
                <option value="hide" id="hide">-- Account --</option>
            </select>

            <button onclick="testScrape()"> Test </button>

            <div id="table" class="table-editable">
              <!--<span class="table-add glyphicon glyphicon-plus"></span>-->
              <table class="table" id="acctTable">
                <tr>
                  <th>Analysis</th>
                  <th>Portfolio</th>
                  <th>
                    <span class="table-allsync glyphicon glyphicon-refresh"> Sync</span>
                  </th>
                </tr>
                <!-- This is our clonable table line -->
                <tr class="hide">
                  <td contenteditable="false" class="account" value="t">Untitled</td>
                  <td contenteditable="false" class="mccpsku" value="t">undefined</td>
                  <td contenteditable="false" class="mccpinven" value="t">undefined</td>
                  <td contenteditable="false" class="imssku" value="t">undefined</td>
                  <td contenteditable="false" class="imsinven" value="t">undefined</td>
                  <td contenteditable="false" class="recon" value="t">undefined</td>
                  <td>
                    <span class="table-sync glyphicon glyphicon-refresh"></span>
                  </td>
                </tr>
              </table>
            </div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/inventory.js')}}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#wrapper").toggleClass("toggled");
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
