<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
    <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/simple-sidebar.css')}}" rel="stylesheet">

</head>

<body onload="onload()">
    <form action="#" id="loading"></form>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="main">
                        Main Page
                    </a>
                </li>
                <li>
                    <a href="">data</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><b>Toggle Menu</b></a>
                <h1>Data</h1>
            </div>
            Password:
            <br><input type="password" id="password" class='fields'><br>
            Country:
            <br><select id="country" onchange="acctChange()">
                <option value="sg" id="sg">-- SG --</option>
                <option value="hk" id="hk">-- HK --</option>
            </select><br>
            Clean columns:
            <br><select id="clean" onchange="acctChange()">
                <option value="true" id="cleanTrue">-- YES --</option>
                <option value="false" id="cleanFalse">-- NO --</option>
            </select><br>
            <button onclick="trigger_download()"> Download </button>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/inventory.js')}}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#wrapper").toggleClass("toggled");
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
